@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 var(--padding-inline-section);
}
.top-banner {
  background-image: url(./assets/asset\ 32.png);
  background-color: #4fb3d4;
  background-size: 300px;
}
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 1rem;
}
.flex {
  display: flex;
}
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}
.company-logo {
  width: 200px;
}
.nav-links {
  flex-basis: 730px;
}

.nav-links ul {
  justify-content: end;
  gap: 40px;
}
.hover-link {
  color: var(--primary-text-color);
  padding-block: 12px;
}
.hover-link:hover {
  color: var(--accent-color);
  transition: 0.3s ease-out;
}
.primary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  font-weight: 500;
  color: var(--primary-text-color);
  padding: 12px 24px;
}
.primary-button:hover {
  color: var(--accent-color-dark);
  transition: 0.3s ease-in-out;
}
.secondary-button {
  text-align: center;
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 500;
  color: white;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
}
.secondary-button:hover {
  background-color: var(--accent-color-dark);
  transition: 0.3s ease-in-out;
  color: white;
}
header {
  padding: 50px var(--padding-inline-section);
}
.header-section {
  justify-content: center;
  gap: 50px;
}
.header-left {
  width: 40vw;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

.header-right img {
  width: 600px;
}

.company-header {
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 20px;
}
.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logos img {
  height: 46px;
}
.features-section {
  padding: 80px var(--padding-inline-section);
}
.section-header {
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.feature-card {
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  align-items: center;
}
.features-area {
  flex-wrap: wrap;
  background-image: url(./assets/asset\ 34.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  margin-top: 20px;
}
.feature-card img {
  width: 60px;
}
.big-features-section {
  padding: 30px var(--padding-inline-section);
}
.big-feature-container {
  gap: 30px;
}
.big-feature-container img {
  width: 100%;
}
.feature-desc {
  flex-direction: column;
  align-items: start;
  align-content: center;
}
.example-area{
  justify-content: space-between;
  margin-block: 30px;
}
.example-card{
  flex-direction: column;
  width: 23%;
  background-color: black;
  color: white;
  min-height: 300px;
  justify-content: end;
padding: 25px;
transition: 0.2s ease-out ;
}
.example-card:hover{
  box-shadow:0 0 10px #888;
}
.example-card:nth-child(1){
  background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0.8)),
  url(./assets/asset\ 36.jpeg);
  background-size: cover ;
}
.example-card:nth-child(2){
  background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0.8)),
  url(./assets/asset\ 37.jpeg);
  background-size: cover ;
}
.example-card:nth-child(3){
  background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0.8)),
  url(./assets/asset\ 38.jpeg);
  background-size: cover ;
}
.example-card:nth-child(4){
  background: linear-gradient(rgb(0,0,0,0.1), rgb(0,0,0.8)),
  url(./assets/asset\ 39.jpeg);
  background-size: cover ;
}
.cta-section{
  background-color: #183b54;
  margin-top: 50px;
  padding: 120px var(--padding-inline-section) 80px;

}
.cta-cantainer{
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 30px;
}
.cta-cantainer p{
  margin-top: 30px;
  color: white;
}
footer{
  padding-block: 25px;
  background-color: #ebf2fa;
  align-items: start;
  justify-content: space-between;
  padding-inline: var(--padding-inline-section); 
}
.footer-cantainer{
  align-items: start;
  justify-content: space-between;
}
.link-column{
  flex-direction:column;
  align-items: start;
  gap: 20px;

}
.link-column a:hover
{
  color:var(--accent-color-dark);
}
.subfooter-cantainer{
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: var(--padding-inline-section);

}

.spacer{
  min-height: 50vh;

}
